.type-5{
    .banner-image{
        width: 100%;
        .oImage{
            text-align: center;
            border: 0px;
            img {
                width: 100%; 
                vertical-align: middle;
            }
        }
    }

    .navation{
        margin-top: 15px;
        ul {
            padding: 0px 0px;
            width: 100%;
            background-color: transparent;
            margin: 0px;
            text-align: right;
            position: relative;

            li {
                padding: 0px 12px;
                position: relative;
                display: inline-block;
                font-size: 14px;
                color: #666666;
                line-height: 20px;
            }
            li.home a {
                display: inline-block;
                text-indent: -99999px;
                color: transparent;
                width: 20px;
                height: 18px;
                background: url(../images/type-5/icon-home1.png) no-repeat 50% 4px;
            }
            li:first-child {
                padding: 0px 12px 0px 0px;
            }
            li ~ li:before {
                position: absolute;
                content: "/";
                width: 20px;
                height: 20px;
                top: 0px;
                left: -17px;
                color: #666666;
                font-size: 14px;
            }
        }
    }


    .heading{
        .p-title {
            font-size: 40px;
            line-height: 50px;
            padding: 10px 0px;
            position: relative;
            text-transform: uppercase;
            text-align: center;
            color: #333333;
            font-family: 'RobotoRegular';
            border-bottom: 1px solid #f2f2f2;
        }
        .p-title:after {
            position: absolute;
            content: "";
            width: 30%;
            height: 1px;
            bottom: 0px;
            left: 35%;
            background-color: #02b360;
        }
    }

    //DETAIL

    .info-prod-left{
        .imageDetail {
            width: 100%;
            margin-bottom: 13px;
            height: 380px;
            box-shadow: 4px 7px 0px #E8E8E8;
            position: relative;
            border: 1px solid #D4D4D4;
            background: #FFF none repeat scroll 0% 0%;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                max-width: 100%;
                max-height: 100%;
                transform: translate(-50%, -50%);
            }
        }
        .like_share {
            margin: 10px 0px;
            padding: 10px 10px;
            .like_facebook {
                width: auto;
                ul{
                    margin:0;
                    padding:0;
                    li,img{
                        float: left;
                    }
                }
                a
                {
                    padding-right: 15px;
                    display: inline-block;
                }
            }
        }
        .feedback {
            text-align: right;
            color: #666666;
            width: auto;
            float: right;
            a {
                color: #333333;
                font-size: 11px;
                font-family: "Arial";
                display: inline-block;
            }
            .link-print {
                padding-left: 25px;
                padding-right: 15px;
                background: url(../images/type-5/print.png) no-repeat left;
            }
        }
    }
    .info-prod-right{
        .star {
            width: 100%;
            margin-bottom: 5px;
            ul{
                li {
                    width: 13px;
                    height: 11px;
                    display: inline-block;
                    background: url(../images/type-5/icon-star.png) no-repeat;
                }
                li.active {
                    background: url(../images/type-5/icon-star-active.png) no-repeat;
                }
            }
        }
        .detail_grid {
            margin-bottom: 20px;
        }
        .detail_row {
            padding: 8px 0px;
            border-bottom: 1px dotted #cccccc;
            .label1 {
                width: 125px;
                float: left;
                position: relative;
                font-size: 14px;
                line-height: 24px;
                color: #666666;
                padding-right: 20px;
            }
            .grid_info {
                width: 320px;
                float: right;
                font-size: 14px;
                line-height: 24px;
                color: #666666;
            }
        }

        .button-cart {
            margin-bottom: 20px;
            a:hover,input:hover {
                background-color: #008343;
            }
            a, input {
                display: inline-block;
                font-size: 24px;
                line-height: 32px;
                text-transform: uppercase;
                color: #ffffff;
                font-family: 'RobotoBold';
                padding: 13px 35px 13px 65px;
                background: url(../images/type-5/icon-cart.png) no-repeat 15px 50% #f58634;
                border: none;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        }

        .tag1 {
            font-size: 14px;
            line-height: 24px;
            color: #666666;
            margin-bottom: 20px;
            padding: 5px;
            min-height: 22px;
            .title {
                display: inline-block;
                padding: 2px 6px;
                margin-right: 4px;
                font-family: 'RobotoBold';
            }
            a {
                color: #333333;
                display: inline-block;
                margin-left: 6px;
                padding: 5px 15px 8px 15px;
                border: 1px solid #d0d0d0;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            a:hover {
                background-color: #f79231;
                color: #ffffff;
                border-color: #f79231;
            }
        }
    }
    .tab{
        margin-bottom: 20px;
        ul.nav-tabs {
            padding: 0 !important;
            margin-top: 10px;
            margin-bottom: 0;
            position: relative;
            z-index: 10;
            li {
                list-style: none;
                padding: 0;
                display: inline-block;
                position: relative;
                margin: 0px;
            }
            a {
                font-size: 18px;
                line-height: 26px;
                text-transform: uppercase;
                font-family: 'RobotoBold';
                display: block;
                text-align: center;
                color: #666666;
                text-decoration: none;
                padding: 7px 20px;
                position: relative;
                background: #ededed;
            }
            li:hover a,li.active a {
                background-color: #00af5a;
                color: #ffffff;
            }
        }
    }
}
@media (max-width: 767px){
    .type-5{ 
        .tab,.tab_specify,.info-prod-right,.info-prod-left,.navation{
            margin: 0 15px;
        }
    }
}