a,a:hover,a:focus,a:active{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.space{
    margin-top: 30px;
}
.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
    height: 0;
}
img {
    max-width: 100%;
    border: 0px;
    vertical-align: middle;
}
.mg-r{
    margin-right: 0px;
}
.pd-r{
    padding-right:0px;
}