.type-6 .mid-title {
  text-align: center;
  width: auto;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.type-6 .mid-title .titleL {
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-family: 'RobotoRegular';
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 10px;
}
.type-6 .mid-title .titleL h1 {
  font-size: 40px;
  line-height: 50px;
  font-family: 'RobotoRegular';
}
.type-6 .mid-title:after {
  position: absolute;
  width: 300px;
  height: 1px;
  left: 50%;
  bottom: -1px;
  content: "";
  background-color: #01b360;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,0%);
}
.type-6 .menu-category {
  width: auto;
  margin: 0px -40% 20px -40%;
  padding: 0px 40%;
  border-bottom: 1px solid #e5e5e5;
}
.type-6 .menu-category ul {
  width: 100%;
  text-align: center;
}
.type-6 .menu-category ul li {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: 'RobotoRegular';
  margin: 0 2px;
}
.type-6 .menu-category ul li .hovers_effect {
  position: relative;
  overflow: hidden;
}
.type-6 .menu-category ul li .hovers_effect .hovers_text {
  position: relative;
  z-index: 2;
  -ms-transition: color .2s ease-in 0s;
  -webkit-transition: color .2s ease-in 0s;
  transition: color .2s ease-in 0s;
}
.type-6 .menu-category ul li .hovers_effect:before {
  top: 50%;
}
.type-6 .menu-category ul li .hovers_effect:after {
  bottom: 50%;
}
.type-6 .menu-category ul li .hovers_effect:before,
.type-6 .menu-category ul li .hovers_effect:after {
  content: "";
  display: inline-block;
  background-color: #00af5a;
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
}
.type-6 .menu-category ul li a {
  color: #333333;
  display: block;
  padding: 13px 20px;
}
.type-6 .menu-category ul li:hover .hovers_effect:before,
.type-6 .menu-category ul li:hover .hovers_effect:after {
  height: 100%;
  opacity: 1;
  -ms-transition-property: height, opacity;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -ms-transition-duration: .6s;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -ms-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -ms-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.type-6 .menu-category ul li:hover .hovers_text {
  color: #fff;
}
